<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdshop.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.jdshop.pojo.po.Comment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="by_user_id" property="byUserId" jdbcType="BIGINT" />
    <result column="shipping_grade" property="shippingGrade" jdbcType="INTEGER" />
    <result column="item_grade" property="itemGrade" jdbcType="INTEGER" />
    <result column="shop_service_grade" property="shopServiceGrade" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, content, pic, user_id, by_user_id, shipping_grade, item_grade, shop_service_grade, 
    item_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jdshop.pojo.po.CommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jdshop.pojo.po.CommentExample" >
    delete from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jdshop.pojo.po.Comment" >
    insert into comment (id, content, pic, 
      user_id, by_user_id, shipping_grade, 
      item_grade, shop_service_grade, item_id
      )
    values (#{id,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{byUserId,jdbcType=BIGINT}, #{shippingGrade,jdbcType=INTEGER}, 
      #{itemGrade,jdbcType=INTEGER}, #{shopServiceGrade,jdbcType=INTEGER}, #{itemId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jdshop.pojo.po.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="byUserId != null" >
        by_user_id,
      </if>
      <if test="shippingGrade != null" >
        shipping_grade,
      </if>
      <if test="itemGrade != null" >
        item_grade,
      </if>
      <if test="shopServiceGrade != null" >
        shop_service_grade,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="byUserId != null" >
        #{byUserId,jdbcType=BIGINT},
      </if>
      <if test="shippingGrade != null" >
        #{shippingGrade,jdbcType=INTEGER},
      </if>
      <if test="itemGrade != null" >
        #{itemGrade,jdbcType=INTEGER},
      </if>
      <if test="shopServiceGrade != null" >
        #{shopServiceGrade,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jdshop.pojo.po.CommentExample" resultType="java.lang.Integer" >
    select count(*) from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.byUserId != null" >
        by_user_id = #{record.byUserId,jdbcType=BIGINT},
      </if>
      <if test="record.shippingGrade != null" >
        shipping_grade = #{record.shippingGrade,jdbcType=INTEGER},
      </if>
      <if test="record.itemGrade != null" >
        item_grade = #{record.itemGrade,jdbcType=INTEGER},
      </if>
      <if test="record.shopServiceGrade != null" >
        shop_service_grade = #{record.shopServiceGrade,jdbcType=INTEGER},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comment
    set id = #{record.id,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      by_user_id = #{record.byUserId,jdbcType=BIGINT},
      shipping_grade = #{record.shippingGrade,jdbcType=INTEGER},
      item_grade = #{record.itemGrade,jdbcType=INTEGER},
      shop_service_grade = #{record.shopServiceGrade,jdbcType=INTEGER},
      item_id = #{record.itemId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jdshop.pojo.po.Comment" >
    update comment
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="byUserId != null" >
        by_user_id = #{byUserId,jdbcType=BIGINT},
      </if>
      <if test="shippingGrade != null" >
        shipping_grade = #{shippingGrade,jdbcType=INTEGER},
      </if>
      <if test="itemGrade != null" >
        item_grade = #{itemGrade,jdbcType=INTEGER},
      </if>
      <if test="shopServiceGrade != null" >
        shop_service_grade = #{shopServiceGrade,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jdshop.pojo.po.Comment" >
    update comment
    set content = #{content,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      by_user_id = #{byUserId,jdbcType=BIGINT},
      shipping_grade = #{shippingGrade,jdbcType=INTEGER},
      item_grade = #{itemGrade,jdbcType=INTEGER},
      shop_service_grade = #{shopServiceGrade,jdbcType=INTEGER},
      item_id = #{itemId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>