<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdshop.dao.ShopFindMapper" >

  <sql id="Base_Column_List" >
    id, title, sell_point as sellPoint, price,
    num, barcode, pic , cid, status, created, updated
  </sql>
  <!-- 查找总个数 -->
  <select id="selectcount" resultType="java.lang.Integer">
    select count(*) from item where barcode = #{shopid} and status !=3
  </select>

  <!-- 查找每页的记录 -->
  <select id="selectByPage" resultType="com.jdshop.pojo.po.Item" >
    select 
     <include refid="Base_Column_List"/>
     from item  where barcode = #{shopid} and status !=3 limit #{page.firstResult},#{page.pageSize}
  </select>
</mapper>