<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdshop.dao.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.jdshop.pojo.po.Shop" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shopname" property="shopname" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="BIGINT" />
    <result column="shop_logo" property="shopLogo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="credit" property="credit" jdbcType="INTEGER" />
    <result column="attention" property="attention" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jdshop.pojo.po.ShopWithBLOBs" extends="BaseResultMap" >
    <result column="shop_desc" property="shopDesc" jdbcType="LONGVARCHAR" />
    <result column="item_id" property="itemId" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shopname, cid, shop_logo, user_id, credit, attention, created, updated
  </sql>
  <sql id="Blob_Column_List" >
    shop_desc, item_id
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jdshop.pojo.po.ShopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jdshop.pojo.po.ShopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shop
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shop
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jdshop.pojo.po.ShopExample" >
    delete from shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jdshop.pojo.po.ShopWithBLOBs" >
    insert into shop (id, shopname, cid, 
      shop_logo, user_id, credit, 
      attention, created, updated, 
      shop_desc, item_id)
    values (#{id,jdbcType=BIGINT}, #{shopname,jdbcType=VARCHAR}, #{cid,jdbcType=BIGINT}, 
      #{shopLogo,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{credit,jdbcType=INTEGER}, 
      #{attention,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, 
      #{shopDesc,jdbcType=LONGVARCHAR}, #{itemId,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jdshop.pojo.po.ShopWithBLOBs" >
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopname != null" >
        shopname,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="shopLogo != null" >
        shop_logo,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="credit != null" >
        credit,
      </if>
      <if test="attention != null" >
        attention,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="shopDesc != null" >
        shop_desc,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopname != null" >
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="shopLogo != null" >
        #{shopLogo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="attention != null" >
        #{attention,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="shopDesc != null" >
        #{shopDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jdshop.pojo.po.ShopExample" resultType="java.lang.Integer" >
    select count(*) from shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shop
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.shopname != null" >
        shopname = #{record.shopname,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=BIGINT},
      </if>
      <if test="record.shopLogo != null" >
        shop_logo = #{record.shopLogo,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.credit != null" >
        credit = #{record.credit,jdbcType=INTEGER},
      </if>
      <if test="record.attention != null" >
        attention = #{record.attention,jdbcType=INTEGER},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shopDesc != null" >
        shop_desc = #{record.shopDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update shop
    set id = #{record.id,jdbcType=BIGINT},
      shopname = #{record.shopname,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=BIGINT},
      shop_logo = #{record.shopLogo,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      credit = #{record.credit,jdbcType=INTEGER},
      attention = #{record.attention,jdbcType=INTEGER},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP},
      shop_desc = #{record.shopDesc,jdbcType=LONGVARCHAR},
      item_id = #{record.itemId,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shop
    set id = #{record.id,jdbcType=BIGINT},
      shopname = #{record.shopname,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=BIGINT},
      shop_logo = #{record.shopLogo,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      credit = #{record.credit,jdbcType=INTEGER},
      attention = #{record.attention,jdbcType=INTEGER},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jdshop.pojo.po.ShopWithBLOBs" >
    update shop
    <set >
      <if test="shopname != null" >
        shopname = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="shopLogo != null" >
        shop_logo = #{shopLogo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="credit != null" >
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="attention != null" >
        attention = #{attention,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="shopDesc != null" >
        shop_desc = #{shopDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jdshop.pojo.po.ShopWithBLOBs" >
    update shop
    set shopname = #{shopname,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=BIGINT},
      shop_logo = #{shopLogo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      credit = #{credit,jdbcType=INTEGER},
      attention = #{attention,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      shop_desc = #{shopDesc,jdbcType=LONGVARCHAR},
      item_id = #{itemId,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jdshop.pojo.po.Shop" >
    update shop
    set shopname = #{shopname,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=BIGINT},
      shop_logo = #{shopLogo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      credit = #{credit,jdbcType=INTEGER},
      attention = #{attention,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>